
body {
    margin: 0;
    padding-top: 40px;
    padding-bottom: 0;
    background: linear-gradient(to bottom right, #ecec07, #d17112, #e542c1);
    min-height: 100vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
}

#title {
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 45px;
    text-decoration: underline;
    color: black;
}

#game-cover {
    box-shadow: 0px 0px 25px rgb(26, 26, 48);
    background-color: rgb(148, 200, 200);
    border-radius: 25px;
    padding: 25px;
}

#gameboy {
    display: flex;
    padding: 15px;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgb(115, 115, 218);
}

#controller {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.switch {
    display: flex;
    gap: 5px;
    align-items: center;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.toggler {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
}

.toggler input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    transition: 0.4s;
    border-radius: 15px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 17px;
    width: 17px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .slider.color{
    background: linear-gradient(to right, #e83922, #d17112, #efef0a, #3cec07, #2267e8, #e822d8);
}

input:checked + .slider:before {
    transform: translateX(25px);
}

.reset {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid rgb(198, 198, 198);
    background-color: #ff1e00;
    box-shadow: 0px 0px 7px rgb(26, 26, 48);
    transition: box-shadow 0;
}

.screen {

    margin: 25px;
    padding: 0;
    background-color: whitesmoke;
    border: 3px solid;
    border-radius: 5px;
    border-color: gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    width: 500px;
    height: 500px;

}



.footer {
    display: flex;
    color: #F9FAF8;
    justify-content: center;
    font-weight: lighter;
    padding: 20px;
}